In [2]:
import glob
import pickle
import matplotlib.pyplot as plt
import os

In [3]:
import pandas as pd

In [36]:
def compile_attributes(model="sp_conviwae", dataset="mnist_perturbed"):
    all_attributes = []
    for filename in sorted(glob.glob(os.path.join(model, dataset, "-1", "*", "attributes.pk"))):
        with open(filename, "rb") as f:
            attributes = pickle.load(f)
            attributes["kernel_size"] = (3,3)
            all_attributes.append(attributes)
            
    for i, fn in enumerate(sorted(glob.glob(os.path.join(model, dataset, "-1", "*", "attributes.pk")))):
        print(i, fn)
            
#     print(attributes.keys())
    print("Found {} attributes".format(len(all_attributes)))
    cols = ['leafK', 'sumK', 'nz',  'n_dense', 'padding', 'filters','kernel_size', 'num_weights', 'wall_time', 'test_ll', 'max_validation']
    df = pd.DataFrame(columns=cols)
    for i, att in enumerate(all_attributes):
        row = [att[c] for c in cols]
        df.loc[i] = row
    return df

In [43]:
df = compile_attributes("sp_conviwae", "mnist_perturbed")
df.sort_values("max_validation", ascending=False)

0 sp_conviwae/mnist_perturbed/-1/1556974959/attributes.pk
1 sp_conviwae/mnist_perturbed/-1/1556976892/attributes.pk
2 sp_conviwae/mnist_perturbed/-1/1556980626/attributes.pk
3 sp_conviwae/mnist_perturbed/-1/1556986044/attributes.pk
4 sp_conviwae/mnist_perturbed/-1/1556997424/attributes.pk
5 sp_conviwae/mnist_perturbed/-1/1557001935/attributes.pk
6 sp_conviwae/mnist_perturbed/-1/1557006486/attributes.pk
7 sp_conviwae/mnist_perturbed/-1/1557011613/attributes.pk
8 sp_conviwae/mnist_perturbed/-1/1557017739/attributes.pk
9 sp_conviwae/mnist_perturbed/-1/1557024299/attributes.pk
10 sp_conviwae/mnist_perturbed/-1/1557034317/attributes.pk
11 sp_conviwae/mnist_perturbed/-1/1557042209/attributes.pk
12 sp_conviwae/mnist_perturbed/-1/1557048207/attributes.pk
13 sp_conviwae/mnist_perturbed/-1/1557053671/attributes.pk
14 sp_conviwae/mnist_perturbed/-1/1557064489/attributes.pk
Found 15 attributes

,leafK,sumK,nz,n_dense,padding,filters,kernel_size,num_weights,wall_time,test_ll,max_validation
13,2,2,25,"(64,)","(same, same)","(4, 8)","(3, 3)",1259048,10703.840596675873,2652.057129,2651.129883
8,2,2,25,"(32,)","(same, same)","(4, 8)","(3, 3)",805416,6451.056787252426,2640.669678,2635.329590
14,2,2,50,"(64,)","(same, same)","(4, 8)","(3, 3)",1676648,14398.1775867939,2642.930420,2634.863281
9,2,2,50,"(32,)","(same, same)","(4, 8)","(3, 3)",1171816,9912.815643072128,2619.651123,2617.059326
7,2,2,5,"(32,)","(same, same)","(4, 8)","(3, 3)",512296,6015.095596790314,2559.912109,2554.920410
12,2,2,5,"(64,)","(same, same)","(4, 8)","(3, 3)",924968,5349.422813415527,2550.095947,2540.364502
3,2,2,25,"(8,)","(same, same)","(4, 8)","(3, 3)",465192,11264.883242607117,2491.279785,2489.904785
2,2,2,5,"(8,)","(same, same)","(4, 8)","(3, 3)",202792,5323.968638896942,2474.599365,2471.456299
11,2,2,2,"(64,)","(same, same)","(4, 8)","(3, 3)",874856,5875.188139200211,2384.585205,2382.971191
1,2,2,2,"(8,)","(same, same)","(4, 8)","(3, 3)",163432,3646.780595302582,2375.318604,2368.446045
6,2,2,2,"(32,)","(same, same)","(4, 8)","(3, 3)",468328,5002.751506567001,2353.248291,2352.998779
4,2,2,50,"(8,)","(same, same)","(4, 8)","(3, 3)",793192,4385.646832704544,2250.960205,2243.075928
10,2,2,1,"(64,)","(same, same)","(4, 8)","(3, 3)",858152,7769.940173625946,2216.488770,2208.513184
0,2,2,1,"(8,)","(same, same)","(4, 8)","(3, 3)",150312,1893.3211023807526,2188.318848,2183.444092
5,2,2,1,"(32,)","(same, same)","(4, 8)","(3, 3)",453672,4435.121431589127,2185.490723,2179.039062

In [38]:
df = compile_attributes("sp_conviwae", "mnist_discrete")
df.sort_values("max_validation", ascending=False)

0 sp_conviwae/mnist_discrete/-1/1557079026/attributes.pk
1 sp_conviwae/mnist_discrete/-1/1557094176/attributes.pk
2 sp_conviwae/mnist_discrete/-1/1557109644/attributes.pk
3 sp_conviwae/mnist_discrete/-1/1557123162/attributes.pk
4 sp_conviwae/mnist_discrete/-1/1557141680/attributes.pk
5 sp_conviwae/mnist_discrete/-1/1557160591/attributes.pk
6 sp_conviwae/mnist_discrete/-1/1557197996/attributes.pk
7 sp_conviwae/mnist_discrete/-1/1557214859/attributes.pk
8 sp_conviwae/mnist_discrete/-1/1557228297/attributes.pk
9 sp_conviwae/mnist_discrete/-1/1557254774/attributes.pk
10 sp_conviwae/mnist_discrete/-1/1557279874/attributes.pk
11 sp_conviwae/mnist_discrete/-1/1557309182/attributes.pk
12 sp_conviwae/mnist_discrete/-1/1557329015/attributes.pk
13 sp_conviwae/mnist_discrete/-1/1557348275/attributes.pk
14 sp_conviwae/mnist_discrete/-1/1557374312/attributes.pk
Found 15 attributes

,leafK,sumK,nz,n_dense,padding,filters,kernel_size,num_weights,wall_time,test_ll,max_validation
13,2,2,25,"(64,)","(same, same)","(4, 8)","(3, 3)",1257864,25811.44192290306,-1063.175171,-1068.895996
14,2,2,50,"(64,)","(same, same)","(4, 8)","(3, 3)",1675464,23999.254111766815,-1081.771118,-1085.386841
9,2,2,50,"(32,)","(same, same)","(4, 8)","(3, 3)",1170632,24851.584693670273,-1080.352173,-1086.886841
8,2,2,25,"(32,)","(same, same)","(4, 8)","(3, 3)",804232,26140.170531749725,-1092.606812,-1098.058594
3,2,2,25,"(8,)","(same, same)","(4, 8)","(3, 3)",464008,18314.35110783577,-2192.388428,-2234.641602
4,2,2,50,"(8,)","(same, same)","(4, 8)","(3, 3)",792008,18685.481211423874,-2229.018066,-2279.787109
12,2,2,5,"(64,)","(same, same)","(4, 8)","(3, 3)",923784,19044.957836151123,-3122.399170,-3167.273193
7,2,2,5,"(32,)","(same, same)","(4, 8)","(3, 3)",511112,13181.222041368484,-3107.637695,-3180.227295
2,2,2,5,"(8,)","(same, same)","(4, 8)","(3, 3)",201608,13330.009329319,-3279.333984,-3344.905518
11,2,2,2,"(64,)","(same, same)","(4, 8)","(3, 3)",873672,19602.687158107758,-7449.339844,-7566.360840
6,2,2,2,"(32,)","(same, same)","(4, 8)","(3, 3)",467144,16576.35404419899,-7647.357422,-7772.604980
1,2,2,2,"(8,)","(same, same)","(4, 8)","(3, 3)",162248,15325.25056219101,-8200.489258,-8322.267578
5,2,2,1,"(32,)","(same, same)","(4, 8)","(3, 3)",452488,37197.970589876175,-12094.188477,-12233.332031
10,2,2,1,"(64,)","(same, same)","(4, 8)","(3, 3)",856968,29077.595130205154,-12942.622070,-13077.863281
0,2,2,1,"(8,)","(same, same)","(4, 8)","(3, 3)",149128,14933.541123628616,-13651.678711,-13783.718750

In [39]:
df = compile_attributes("sp_conviwae", "svhn_perturbed")
df.sort_values("max_validation", ascending=False)

0 sp_conviwae/svhn_perturbed/-1/1557080798/attributes.pk
1 sp_conviwae/svhn_perturbed/-1/1557085827/attributes.pk
2 sp_conviwae/svhn_perturbed/-1/1557095105/attributes.pk
3 sp_conviwae/svhn_perturbed/-1/1557098291/attributes.pk
4 sp_conviwae/svhn_perturbed/-1/1557108249/attributes.pk
5 sp_conviwae/svhn_perturbed/-1/1557113211/attributes.pk
6 sp_conviwae/svhn_perturbed/-1/1557122994/attributes.pk
7 sp_conviwae/svhn_perturbed/-1/1557131987/attributes.pk
8 sp_conviwae/svhn_perturbed/-1/1557137759/attributes.pk
9 sp_conviwae/svhn_perturbed/-1/1557144384/attributes.pk
10 sp_conviwae/svhn_perturbed/-1/1557149687/attributes.pk
11 sp_conviwae/svhn_perturbed/-1/1557158218/attributes.pk
12 sp_conviwae/svhn_perturbed/-1/1557165960/attributes.pk
13 sp_conviwae/svhn_perturbed/-1/1557172342/attributes.pk
14 sp_conviwae/svhn_perturbed/-1/1557180417/attributes.pk
Found 15 attributes

,leafK,sumK,nz,n_dense,padding,filters,kernel_size,num_weights,wall_time,test_ll,max_validation
13,2,2,25,"(64,)","(same, same)","(4, 8)","(3, 3)",1604648,8011.361088037491,2011.467773,1789.405640
14,2,2,50,"(64,)","(same, same)","(4, 8)","(3, 3)",2118248,8960.61038351059,1994.336548,1773.047363
8,2,2,25,"(32,)","(same, same)","(4, 8)","(3, 3)",1028136,6563.381576299667,1948.652588,1730.779907
9,2,2,50,"(32,)","(same, same)","(4, 8)","(3, 3)",1490536,5241.229540586472,1589.960693,1403.191772
7,2,2,5,"(32,)","(same, same)","(4, 8)","(3, 3)",658216,5710.110511302948,1546.370972,1363.135864
12,2,2,5,"(64,)","(same, same)","(4, 8)","(3, 3)",1193768,6316.584937334061,1539.885010,1354.935059
2,2,2,5,"(8,)","(same, same)","(4, 8)","(3, 3)",256552,3123.4526002407074,1364.621704,1192.703613
3,2,2,25,"(8,)","(same, same)","(4, 8)","(3, 3)",595752,9896.744192361832,1148.013184,992.271667
1,2,2,2,"(8,)","(same, same)","(4, 8)","(3, 3)",205672,9215.648227214813,1072.557495,914.259766
11,2,2,2,"(64,)","(same, same)","(4, 8)","(3, 3)",1132136,7679.895842552185,1070.416260,914.171875
6,2,2,2,"(32,)","(same, same)","(4, 8)","(3, 3)",602728,8931.784852743149,1056.442505,903.620483
5,2,2,1,"(32,)","(same, same)","(4, 8)","(3, 3)",584232,9720.93635225296,839.496460,698.351562
10,2,2,1,"(64,)","(same, same)","(4, 8)","(3, 3)",1111592,8468.489263296127,768.352783,625.882935
0,2,2,1,"(8,)","(same, same)","(4, 8)","(3, 3)",188712,4965.153039455414,760.967651,620.007629
4,2,2,50,"(8,)","(same, same)","(4, 8)","(3, 3)",1019752,4900.841505527496,572.669739,467.853424

In [40]:
df = compile_attributes("sp_conviwae", "svhn_discrete")
df.sort_values("max_validation", ascending=False)

0 sp_conviwae/svhn_discrete/-1/1557189441/attributes.pk
1 sp_conviwae/svhn_discrete/-1/1557193058/attributes.pk
2 sp_conviwae/svhn_discrete/-1/1557201962/attributes.pk
3 sp_conviwae/svhn_discrete/-1/1557208447/attributes.pk
4 sp_conviwae/svhn_discrete/-1/1557211539/attributes.pk
5 sp_conviwae/svhn_discrete/-1/1557216204/attributes.pk
6 sp_conviwae/svhn_discrete/-1/1557224644/attributes.pk
7 sp_conviwae/svhn_discrete/-1/1557235910/attributes.pk
8 sp_conviwae/svhn_discrete/-1/1557239424/attributes.pk
9 sp_conviwae/svhn_discrete/-1/1557244802/attributes.pk
10 sp_conviwae/svhn_discrete/-1/1557250747/attributes.pk
11 sp_conviwae/svhn_discrete/-1/1557259327/attributes.pk
12 sp_conviwae/svhn_discrete/-1/1557270686/attributes.pk
13 sp_conviwae/svhn_discrete/-1/1557277235/attributes.pk
14 sp_conviwae/svhn_discrete/-1/1557291293/attributes.pk
Found 15 attributes

,leafK,sumK,nz,n_dense,padding,filters,kernel_size,num_weights,wall_time,test_ll,max_validation
13,2,2,25,"(64,)","(same, same)","(4, 8)","(3, 3)",1603464,13997.263014793396,-3710.645996,-3891.781250
9,2,2,50,"(32,)","(same, same)","(4, 8)","(3, 3)",1489352,5884.902478933334,-3838.446777,-4049.626709
8,2,2,25,"(32,)","(same, same)","(4, 8)","(3, 3)",1026952,5317.09711933136,-3867.058105,-4083.970459
14,2,2,50,"(64,)","(same, same)","(4, 8)","(3, 3)",2117064,3816.129142999649,-3911.925049,-4134.000488
12,2,2,5,"(64,)","(same, same)","(4, 8)","(3, 3)",1192584,6489.3638796806335,-5682.636719,-6502.914062
7,2,2,5,"(32,)","(same, same)","(4, 8)","(3, 3)",657032,3453.5047328472137,-5745.782227,-6586.707520
2,2,2,5,"(8,)","(same, same)","(4, 8)","(3, 3)",255368,6424.527625322342,-5858.928711,-6741.163086
4,2,2,50,"(8,)","(same, same)","(4, 8)","(3, 3)",1018568,4604.561327219009,-7504.748535,-8316.033203
11,2,2,2,"(64,)","(same, same)","(4, 8)","(3, 3)",1130952,11298.636014938354,-9144.100586,-10767.592773
6,2,2,2,"(32,)","(same, same)","(4, 8)","(3, 3)",601544,11204.910388231277,-9225.116211,-10867.214844
1,2,2,2,"(8,)","(same, same)","(4, 8)","(3, 3)",204488,8843.865165233612,-10075.300781,-11934.180664
3,2,2,25,"(8,)","(same, same)","(4, 8)","(3, 3)",594568,3031.377965450287,-10854.839844,-12016.369141
10,2,2,1,"(64,)","(same, same)","(4, 8)","(3, 3)",1110408,8520.352519750595,-12673.209961,-14911.455078
5,2,2,1,"(32,)","(same, same)","(4, 8)","(3, 3)",583048,8379.93819308281,-13279.227539,-15627.410156
0,2,2,1,"(8,)","(same, same)","(4, 8)","(3, 3)",187528,3555.7574305534363,-14810.041016,-17434.460938

In [41]:
df = compile_attributes("sp_conviwae", "cifar10_perturbed")
df.sort_values("max_validation", ascending=False)

0 sp_conviwae/cifar10_perturbed/-1/1557064535/attributes.pk
1 sp_conviwae/cifar10_perturbed/-1/1557085587/attributes.pk
2 sp_conviwae/cifar10_perturbed/-1/1557094166/attributes.pk
3 sp_conviwae/cifar10_perturbed/-1/1557115599/attributes.pk
4 sp_conviwae/cifar10_perturbed/-1/1557118804/attributes.pk
5 sp_conviwae/cifar10_perturbed/-1/1557122674/attributes.pk
6 sp_conviwae/cifar10_perturbed/-1/1557137736/attributes.pk
7 sp_conviwae/cifar10_perturbed/-1/1557147946/attributes.pk
8 sp_conviwae/cifar10_perturbed/-1/1557158626/attributes.pk
9 sp_conviwae/cifar10_perturbed/-1/1557182611/attributes.pk
10 sp_conviwae/cifar10_perturbed/-1/1557208635/attributes.pk
11 sp_conviwae/cifar10_perturbed/-1/1557215292/attributes.pk
12 sp_conviwae/cifar10_perturbed/-1/1557236091/attributes.pk
13 sp_conviwae/cifar10_perturbed/-1/1557247964/attributes.pk
14 sp_conviwae/cifar10_perturbed/-1/1557266908/attributes.pk
Found 15 attributes

,leafK,sumK,nz,n_dense,padding,filters,kernel_size,num_weights,wall_time,test_ll,max_validation
8,2,2,25,"(32,)","(same, same)","(4, 8)","(3, 3)",1028136,23689.931718587875,1319.978760,1314.047852
13,2,2,25,"(64,)","(same, same)","(4, 8)","(3, 3)",1604648,18603.69350337982,1313.357544,1308.260620
14,2,2,50,"(64,)","(same, same)","(4, 8)","(3, 3)",2118248,19439.45246744156,1306.660156,1301.032349
9,2,2,50,"(32,)","(same, same)","(4, 8)","(3, 3)",1490536,25737.762285470963,1294.501221,1289.487427
7,2,2,5,"(32,)","(same, same)","(4, 8)","(3, 3)",658216,10411.181270360947,1083.646362,1078.953857
12,2,2,5,"(64,)","(same, same)","(4, 8)","(3, 3)",1193768,11561.663184642792,1081.224854,1076.685913
2,2,2,5,"(8,)","(same, same)","(4, 8)","(3, 3)",256552,21279.31951212883,1002.239990,998.534607
11,2,2,2,"(64,)","(same, same)","(4, 8)","(3, 3)",1132136,20527.518631458282,859.725220,856.862000
6,2,2,2,"(32,)","(same, same)","(4, 8)","(3, 3)",602728,9850.039010047913,844.142029,841.637817
1,2,2,2,"(8,)","(same, same)","(4, 8)","(3, 3)",205672,8339.044938087463,814.616638,810.317200
5,2,2,1,"(32,)","(same, same)","(4, 8)","(3, 3)",584232,14789.228466749191,576.689026,576.254089
0,2,2,1,"(8,)","(same, same)","(4, 8)","(3, 3)",188712,20895.772609472275,557.831482,557.018188
10,2,2,1,"(64,)","(same, same)","(4, 8)","(3, 3)",1111592,6347.86230635643,544.089844,542.139526
3,2,2,25,"(8,)","(same, same)","(4, 8)","(3, 3)",595752,2918.057063817978,508.028412,506.346313
4,2,2,50,"(8,)","(same, same)","(4, 8)","(3, 3)",1019752,3598.2065563201904,405.264496,403.710114

In [42]:
df = compile_attributes("sp_conviwae", "cifar10_discrete")
df.sort_values("max_validation", ascending=False)

0 sp_conviwae/cifar10_discrete/-1/1557286626/attributes.pk
1 sp_conviwae/cifar10_discrete/-1/1557306146/attributes.pk
2 sp_conviwae/cifar10_discrete/-1/1557340542/attributes.pk
3 sp_conviwae/cifar10_discrete/-1/1557354230/attributes.pk
4 sp_conviwae/cifar10_discrete/-1/1557367576/attributes.pk
5 sp_conviwae/cifar10_discrete/-1/1557383282/attributes.pk
6 sp_conviwae/cifar10_discrete/-1/1557425402/attributes.pk
7 sp_conviwae/cifar10_discrete/-1/1557442405/attributes.pk
8 sp_conviwae/cifar10_discrete/-1/1557460207/attributes.pk
9 sp_conviwae/cifar10_discrete/-1/1557484103/attributes.pk
Found 10 attributes

,leafK,sumK,nz,n_dense,padding,filters,kernel_size,num_weights,wall_time,test_ll,max_validation
8,2,2,25,"(32,)","(same, same)","(4, 8)","(3, 3)",1026952,23699.992658615112,-4685.600098,-4693.461914
9,2,2,50,"(32,)","(same, same)","(4, 8)","(3, 3)",1489352,23507.2566716671,-4706.140625,-4713.482910
3,2,2,25,"(8,)","(same, same)","(4, 8)","(3, 3)",594568,13028.355371236801,-8047.646484,-8045.457520
7,2,2,5,"(32,)","(same, same)","(4, 8)","(3, 3)",657032,17646.33722090721,-8862.523438,-8876.819336
2,2,2,5,"(8,)","(same, same)","(4, 8)","(3, 3)",255368,13379.131117105484,-9070.014648,-9083.134766
4,2,2,50,"(8,)","(same, same)","(4, 8)","(3, 3)",1018568,15413.619351387024,-11908.273438,-11901.679688
6,2,2,2,"(32,)","(same, same)","(4, 8)","(3, 3)",601544,16809.60906291008,-12347.881836,-12338.005859
1,2,2,2,"(8,)","(same, same)","(4, 8)","(3, 3)",204488,34118.105169296265,-12494.380859,-12487.051758
5,2,2,1,"(32,)","(same, same)","(4, 8)","(3, 3)",583048,41797.585012197495,-15149.401367,-15133.169922
0,2,2,1,"(8,)","(same, same)","(4, 8)","(3, 3)",187528,19256.1983795166,-15959.288086,-15949.245117